/*--------------------------------------------------------------
## All Color Variable
----------------------------------------------------------------*/
:root {
  --white: #fff;
  --black: #010f34;
  --heading-color: #010f34;
  --body-color: #788094;
  --ternary: #88a5ad;
  --accent: #ff5500;
  --gray: #f5f7fa;
  --border: #ecf1f5;
  --heading-font: 'Outfit', sans-serif;
  --body-color-font: 'DM Sans', sans-serif;
}
