/*--------------------------------------------------------------
  5. Slider
----------------------------------------------------------------*/

.cs_slider {
  position: relative;
}
.slick-arrow {
  cursor: pointer;
}
.draggable {
  cursor: url(../img/drag.png) 16 9, ew-resize !important;
}
.slick-slide > div {
  display: flex;
  flex-direction: column;
}
.cs_remove_overflow {
  .slick-list {
    overflow: visible;
  }

  .slick-slide {
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s linear;

    &.slick-active {
      opacity: 1;
      visibility: visible;
    }
  }
}
.cs_slider_gap_24 {
  .slick-slide {
    padding-left: 12px;
    padding-right: 12px;
  }
  .slick-list {
    margin-left: -12px;
    margin-right: -12px;
  }
}
.cs_slider_gap_30 {
  .slick-slide {
    padding-left: 15px;
    padding-right: 15px;
  }
  .slick-list {
    margin-left: -15px;
    margin-right: -15px;
  }
}
.cs_slider_2_wrap {
  overflow: hidden;
  border-radius: 5px;
  position: relative;
}
@media (min-width: 1200px) {
  .cs_slider.cs_style_2 {
    width: calc(100% + 280px);
    margin-left: -140px;
  }
}
.cs_slider_arrows.cs_style_1 {
  display: flex;
  gap: 12px;
  .cs_left_arrow,
  .cs_right_arrow {
    height: 40px;
    width: 40px;
    flex: none;
    transition: all 0.4s ease;
    &:hover {
      background-color: var(--heading-color);
    }
  }
}

.cs_pagination.cs_style_1 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 5.5%;
  padding: 30px 0;
  @media (max-width: 1600px) {
    left: 3%;
  }
  @media (max-width: 1480px) {
    left: 25px;
  }
  @media (max-width: 1070px) {
    top: initial;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 30px;
  }
  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 2px;
    height: 77px;
    left: 50%;
    margin-left: -1px;
    @media (max-width: 1070px) {
      display: none;
    }
  }
  &::before {
    background: linear-gradient(180deg, rgba(1, 15, 52, 0.7) 0%, #fff 100%);
    bottom: 100%;
  }
  &::after {
    background: linear-gradient(0deg, rgba(1, 15, 52, 0.7) 0%, #fff 100%);
    top: 100%;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex !important;
    gap: 23px;
    flex-direction: column;
    @media (max-width: 1070px) {
      flex-direction: row;
    }
  }

  li {
    height: 13px;
    width: 13px;
    background-color: #fff;
    border-radius: 50%;
    margin: 0;
    cursor: pointer;
    position: relative;
    transition: all 0.3s ease;
    &:hover {
      background-color: var(--accent);
    }
    &::before {
      content: '';
      height: 35px;
      width: 35px;
      border-radius: 50%;
      border: 2px solid var(--accent);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: all 0.3s ease;
      opacity: 0;
    }

    &.slick-active {
      background-color: var(--accent);
      &::before {
        opacity: 1;
      }
    }
  }

  button {
    display: none;
  }
  &.cs_type_1 {
    position: relative;
    padding: 0 30px;
    display: inline-flex;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 50px;
    bottom: initial;
    &:before,
    &:after {
      content: '';
      position: absolute;
      width: 77px;
      height: 2px;
      left: initial;
      top: 50%;
      margin-left: 0px;
      margin-top: -1px;
    }
    &:before {
      background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0.4) 0%,
        var(--accent) 100%
      );
      right: 100%;
    }
    &:after {
      background: linear-gradient(
        -90deg,
        rgba(255, 255, 255, 0.4) 0%,
        var(--accent) 100%
      );
      left: 100%;
    }
    ul {
      flex-direction: row;
      li {
        background-color: var(--accent);
      }
    }
  }
}
.cs_pagination.cs_style_2 {
  position: absolute;
  bottom: 0;
  right: 0;
  @media (max-width: 400px) {
    position: initial;
    left: 0;
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex !important;
    gap: 20px;
  }

  li {
    height: 13px;
    width: 13px;
    background-color: #fff;
    border-radius: 50%;
    margin: 0;
    cursor: pointer;
    position: relative;
    transition: all 0.3s ease;
    &:hover {
      background-color: var(--accent);
    }
    &::before {
      content: '';
      height: 35px;
      width: 35px;
      border-radius: 50%;
      border: 2px solid var(--accent);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: all 0.3s ease;
      opacity: 0;
    }

    &.slick-active {
      background-color: var(--accent);
      &::before {
        opacity: 1;
      }
    }
  }

  button {
    display: none;
  }
  &.cs_type_1 {
    position: initial;
    gap: 12px;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    li {
      background-color: var(--heading-color);
      &::before {
        display: none;
      }
      &.slick-active {
        background-color: var(--accent);
      }
    }
  }
}

.cs_service_product_nav_arrows,
.cs_slider_arrows.cs_style_2 {
  display: flex;
  gap: 15px;
}
.cs_service_product_nav_arrows .cs_service_product_nav_left_arrow,
.cs_service_product_nav_arrows .cs_service_product_nav_right_arrow,
.cs_slider_arrows.cs_style_2 .cs_slider_arrow {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: var(--accent);
  transition: all 0.4s ease;
  &:hover {
    background-color: var(--heading-color);
  }
}

.cs_slider_heading_1 {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  gap: 45px;
  .cs_service_product_nav_arrows,
  .cs_slider_arrows.cs_style_2 {
    margin-bottom: 14px;
  }
}
.slick-slide {
  .cs_hero.cs_style_1 {
    .cs_hero_text {
      position: relative;
      left: 50px;
      transition: all 0.4s ease;
      opacity: 0;
    }
  }
  .cs_hero.cs_style_1 {
    .cs_hero_img {
      transition: all 0.4s ease;
      opacity: 0;
    }
  }
  &.slick-current {
    .cs_hero.cs_style_1 {
      .cs_hero_text {
        opacity: 1;
        left: 0;
        transition-delay: 0.8s;
      }
    }
    .cs_hero.cs_style_1 {
      .cs_hero_img {
        opacity: 1;
        transition-delay: 0.7s;
      }
    }
  }
}

.cs_hero.cs_style_2 {
  .slick-slide {
    .cs_hero_text {
      position: relative;
      left: 50px;
      transition: all 0.4s ease;
      opacity: 0;
    }
    &.slick-current {
      .cs_hero_text {
        opacity: 1;
        left: 0;
        transition-delay: 0.8s;
      }
    }
  }
}

.cs_show_md {
  display: none !important;
}
@media (max-width: 767px) {
  .cs_show_md {
    display: flex !important;
  }
  .cs_hide_md {
    display: none !important;
  }
}
