/*--------------------------------------------------------------
  18. About
----------------------------------------------------------------*/
.cs_tab {
  display: none;
  &.active {
    display: block;
  }
}
.cs_tab_links.cs_style_1 {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 25px;
  @media (max-width: 575px) {
    gap: 10px 15px;
  }
  @media (max-width: 575px) {
    gap: 10px 12px;
  }
  a {
    padding: 7px 30px;
    background-color: var(--border);
    border-radius: 1.6em;
    display: inline-flex;
    justify-content: center;
    @media (max-width: 575px) {
      padding: 5px 20px;
    }
    @media (max-width: 360px) {
      padding: 5px 12px;
    }
  }
  .active {
    a {
      background-color: var(--accent);
      color: #fff;
    }
  }
}
.cs_tab_links.cs_style_2 {
  display: flex;
  border: 1px solid var(--border);
  border-radius: 1.6em;
  background-color: #fff;
  margin-bottom: 10px;
  @media (max-width: 767px) {
    margin-bottom: 0;
    width: 100%;
    li {
      flex: 1;
    }
    a {
      width: 100%;
    }
  }
  a {
    display: inline-flex;
    min-width: 115px;
    justify-content: center;
    padding: 7px 10px;
  }
  .active {
    a {
      background-color: var(--accent);
      color: #fff;
      border-radius: 1.6em;
    }
  }
}
.cs_about.cs_style_1 {
  .cs_about_phone_number {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .cs_about_phone_number_icon {
    height: 56px;
    width: 56px;
    border-radius: 50%;
    flex: none;
  }
  .cs_about_btns {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px 40px;
    @media (max-width: 991px) {
      gap: 20px 25px;
    }
  }
  @media (min-width: 1200px) {
    .cs_about_content {
      padding-left: 30px;
    }
  }
  .cs_list.cs_style_1 {
    margin-bottom: 0;
  }
  .cs_about_thumb {
    position: relative;
  }
  .cs_about_player_btn {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 32%;
  }
  .cs_list_experience {
    position: absolute;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    right: 0;
    bottom: 40px;
    h2 {
      -webkit-text-stroke: 3px var(--accent);
      color: transparent;
    }
  }
  .cs_list_2_wrap {
    position: relative;
    border-bottom: 1px solid var(--border);
    padding-bottom: 30px;
    padding-right: 180px;
    @media (max-width: 1400px) {
      padding-right: 130px;
    }
    @media (max-width: 450px) {
      padding-right: 105px;
    }
    @media (min-width: 1401px) {
      &::before {
        content: '';
        position: absolute;
        height: 100%;
        width: 1px;
        background-color: var(--border);
        right: 160px;
        bottom: 0;
      }
    }
  }
  .cs_about_avatar {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .cs_about_avatar_thumb {
    height: 65px;
    width: 65px;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid var(--accent);
    img {
      height: 100%;
      width: 100%;
      border-radius: inherit;
      object-fit: cover;
    }
  }
}
