/*--------------------------------------------------------------
  16. Card
----------------------------------------------------------------*/
.cs_card.cs_style_1 {
  position: relative;
  padding: 0 20px 20px 20px;
  margin-top: 40px;
  .cs_card_shape {
    position: absolute;
    bottom: 0;
    left: 0;
    color: var(--border);
    transition: all 0.4s ease;
  }
  .cs_card_in {
    position: relative;
    z-index: 1;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.08);
    text-align: center;
    padding: 1px 25px 25px;
    border-radius: 20px;
  }
  .cs_card_icon {
    height: 90px;
    width: 90px;
    border: 5px solid var(--border);
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -45px;
    background-color: #fff;
    padding: 15px;
    transition: all 0.4s ease;
  }
  &:hover {
    .cs_card_icon {
      border-color: var(--accent);
    }
    .cs_card_shape {
      color: var(--accent);
    }
  }
  &.cs_type_1 {
    padding: 20px 20px 0 20px;
    margin-bottom: 40px;
    margin-top: 0;
    .cs_card_shape {
      top: 0;
      bottom: initial;
    }
    .cs_card_icon {
      margin-top: 0;
      margin-bottom: -45px;
    }
    .cs_card_in {
      padding: 25px 25px 1px;
    }
  }
}
.cs_card_1_wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px 0;
  .cs_card_1_col {
    flex: none;
    width: 305px;
  }
}
