/*--------------------------------------------------------------
  12. CTA
----------------------------------------------------------------*/
.cs_cta.cs_style_1 {
  position: relative;
  overflow: hidden;
  .cs_cta_in {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0 50px;
    max-width: 980px;
    flex-wrap: wrap;
    padding: 85px 0;
    @media (max-width: 1400px) {
      max-width: 850px;
    }
    @media (max-width: 1199px) {
      flex-direction: column;
      align-items: flex-start;
      gap: 30px 0;
    }
  }
  .cs_cta_img {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 30%;
    max-width: 575px;
    @media (max-width: 1700px) {
      width: 25%;
    }
    @media (max-width: 767px) {
      display: none;
    }
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: 0;
    }
  }
}
