/*--------------------------------------------------------------
  15. Pricing
----------------------------------------------------------------*/
.cs_pricing_plan.cs_style_1 {
  padding: 30px 30px 40px 30px;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.1);
  position: relative;
  margin-left: 15px;
  margin-bottom: 15px;
  &::before,
  &::after {
    content: '';
    position: absolute;
    background-color: rgba(216, 221, 225, 0.4);
    transition: all 0.4s ease;
  }
  &::before {
    left: -15px;
    height: 85%;
    width: 15px;
    bottom: 0;
    border-radius: 8px 0 0 0;
  }
  &::after {
    left: -15px;
    width: 85%;
    height: 15px;
    bottom: -15px;
    border-radius: 0 0 8px 0;
  }
  .cs_pricing_plan_head {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    position: relative;
    z-index: 2;
    margin-bottom: 25px;
  }
  .cs_pricing_plan_heading {
    position: relative;
    border-bottom: 4px solid var(--accent);
    flex: 1;
    max-width: 160px;
    margin-top: 18px;
  }
  .cs_price {
    position: relative;
    display: inline-block;
    flex: none;
  }
  .cs_price_in {
    position: absolute;
    width: 100%;
    text-align: center;
    padding: 10px 15px 0 15px;
    h3 {
      margin: 0 0 -6px;
      line-height: 1em;
      span {
        font-size: 22px;
        font-weight: 500;
        position: relative;
        top: -11px;
      }
    }
    p {
      margin: 0;
    }
  }
  .cs_pricing_shape {
    position: absolute;
    right: 34px;
    top: 34px;
  }
  .cs_pricing_features {
    li {
      position: relative;
      padding-left: 26px;
      &:not(:last-child) {
        margin-bottom: 14px;
      }
      img {
        position: absolute;
        left: 0;
        top: 6px;
      }
    }
  }
  .cs_btn.cs_style_1 {
    margin-top: 28px;
  }
  .cs_close_featue {
    opacity: 0.5;
  }
  &:hover {
    &::before,
    &::after {
      background-color: var(--accent);
    }
    .cs_btn.cs_style_1.cs_type_1 {
      background-color: var(--accent);
      color: #fff;
      &:hover {
        background-color: var(--heading-color);
        border-color: var(--heading-color);
      }
    }
  }
}
